<h1 mat-dialog-title>New User</h1>
<div mat-dialog-content>
  <form class="flex flex-column" [formGroup]="studentForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput [formControl]="surnameControl">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [mat-dialog-close]="studentForm.value" cdkFocusInitial>
    Aceppt
  </button>
</div>
